<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Agregar Nombres</h1>
        <div class="input-group mb-3">
            <input type="text" id="nombre" class="form-control" placeholder="Ingresa un nombre">
            <div class="input-group-append">
                <button class="btn btn-primary" onclick="agregarNombre()">Agregar</button>
            </div>
        </div>

        <section id="usuarios" class="mb-4">
            <h2>Usuarios Simultáneos</h2>
            <p id="cantidadUsuarios" class="badge badge-info">0</p>
            <button class="btn btn-danger">LogOut</button>
        </section>
        <section id="waitList">
            <h2>waitList</h2>
            <p id="cantidadUsuarios" class="badge badge-warning">0</p>
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>