<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>LOTE DE CARROS</h1>   
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Model</th>
                <th style="text-align: center;">Branch</th>
                <th style="text-align: center;">Year</th>
                <th style="text-align: center;">Color</th>
                <th style="text-align: center;">Transmition</th>
                <th style="text-align: center;">Engine</th>
                <th style="text-align: center;">Liters</th>
                <th style="text-align: center;">Hp</th>
                <th style="text-align: center;">Doors</th>
                <th style="text-align: center;">Type of car</th>
                <th style="text-align: center;">Price</th>
                <th style="text-align: center;">cotizado</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                <td style="text-align: center;">{{auto.id}}</td>
                <td style="text-align: center;">{{auto.model}}</td>
                <td style="text-align: center;">{{auto.branch}}</td>
                <td style="text-align: center;">{{auto.year}}</td>
                <td style="text-align: center;">{{auto.color}}</td>
                <td style="text-align: center;">{{auto.transmition}}</td>
                <td style="text-align: center;">{{auto.engine}}</td>
                <td style="text-align: center;">{{auto.liters}}</td>
                <td style="text-align: center;">{{auto.hp}}</td>
                <td style="text-align: center;">{{auto.doors}}</td>
                <td style="text-align: center;">{{auto.car_type}}</td>
                <td style="text-align: center;">{{auto.precio}}</td>
                <td style="text-align: center;">
                        
                    <a href="{{ url_for('venta') }}" type="button" class="btn btn-primary"  id="{{ auto.id }}"onclick="openNewTab(id)">
                            Cotiza
                        </a>
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
        // Inicializa DataTable
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script>
        function openNewTab(buttonId) {
            window.open("/venta?id=" + buttonId);
        }
    </script>
</body>
</html>
