<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"/>
    <title>Document</title>
</head>
<body>
    <h1>LOTE DE CARROS</h1>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th style="text-align: center;">Model</th>
                <th style="text-align: center;">Branch</th>
                <th style="text-align: center;">Year</th>
                <th style="text-align: center;">Color</th>
                <th style="text-align: center;">Transmition</th>
                <th style="text-align: center;">Engine</th>
                <th style="text-align: center;">Liters</th>
                <th style="text-align: center;">Hp</th>
                <th style="text-align: center;">Doors</th>
                <th style="text-align: center;">Type of car</th>
                <th style="text-align: center;">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                <td style="text-align: center;">{{auto.modelo}}</td>
                <td style="text-align: center;">{{auto.marca}}</td>
                <td style="text-align: center;">{{auto.año}}</td>
                <td style="text-align: center;">{{auto.color}}</td>
                <td style="text-align: center;">{{auto.transmision}}</td>
                <td style="text-align: center;">{{auto.motor}}</td>
                <td style="text-align: center;">{{auto.litros}}</td>
                <td style="text-align: center;">{{auto.hp}}</td>
                <td style="text-align: center;">{{auto.puertas}}</td>
                <td style="text-align: center;">{{auto.tipo_de_carro}}</td>
                <td style="text-align: center;">{{auto.precio}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
        // Inicializa DataTable
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>
