<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css"/>
    <title>Document</title>
</head>
<body>
    <h1>LOTE DE CARROS</h1>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Model</th>
                <th>Branch</th>
                <th>Year</th>
                <th>Color</th>
                <th>Transmition</th>
                <th>Engine</th>
                <th>Liters</th>
                <th>Hp</th>
                <th>Doors</th>
                <th>Type of car</th>
            </tr>
        </thead>
        <tbody>
            {% for auto in autos %}
            <tr>
                <td>{{auto.modelo}}</td>
                <td>{{auto.marca}}</td>
                <td>{{auto.año}}</td>
                <td>{{auto.color}}</td>
                <td>{{auto.transmision}}</td>
                <td>{{auto.motor}}</td>
                <td>{{auto.litros}}</td>
                <td>{{auto.hp}}</td>
                <td>{{auto.puertas}}</td>
                <td>{{auto.tipo_de_carro}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
        // Inicializa DataTable
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>